.card-front{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to left, skyblue,yellowgreen);    
}
.card-back{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, skyblue,yellowgreen);     
}

.image{
    height: 40px;
    width: 25%;
    padding-left: 2%;
    position: relative;
    color: yellowgreen;
    /* border: 1px solid black; */
}
.visa{
    height: 50px;
    width: 20%;
    position: relative;
    left: 35%;
    top:-50%;
}
.sim{
    height: 40px;
    width: 10%;
    position: relative;
    right: 50%;
    top: -75%;
}
.line{
    border: 1px solid black;
    height: 40px;
    background-color: black;
}
.btn-withdraw{
    margin-left: 15%;
}
#download{
    margin-left: 45%;
}
